@import "tailwindcss";

@theme {
  --color-primary: #4d6bfe;
}

html, body { /* <-- Added 'body' and these properties */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  display: none;
}